<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Demo project for Interview</title>
</head>
<body>
<header th:fragment="header">
  Header
</header>
<footer th:fragment="footer" class="container">
  <p class="text-info copyright">&copy; 2017 AI&T</p>
</footer>

<div th:fragment="requireJs">
</div>
</body>
</html>
